body {
	user-select: none;
	background-color: rgb(30, 30, 30);
}

#root {
	height: 100%;
}

.App {
	height: 100%;
}

.Banner {
	font-family: 'Monoton', cursive;
	color: orange;
	text-align: center;
	font-size: 5em;
}

.ProfilesContainer {
	width: 960px;
	margin: auto;
}