.SelectableProfile {
	display: inline-block;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 6px;
}

.SelectableProfile:hover {
	cursor: pointer;
	background-color: rgba(255, 165, 0, 0.9);
}

.Avatar {
	width: 128px;
	height: 128px;
}

.NameContainer {
	width: 108px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
}
.Name {	
	text-align: center;
	color: white;
	background-color: red;
	white-space: nowrap;
	overflow: hidden;
}
