.SelectableProfile {
	display: inline-block;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 6px;
}

.SelectableProfile:hover {
	cursor: pointer;
	background-color: rgba(255, 165, 0, 0.9);
}

.Picture {
	width: 128px;
	height: 128px;
}

.Name {
	width: 128px;
	padding: 10px 0;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}
